*{
  background-color: rgb(41, 41, 41);

}


h1{
  color: white;
  font-weight: arial black;
  font-size: 50px;
  text-align: center;
}
.container{
  background-color: rgb(132, 132, 132) transparent;
  box-shadow: 5px 5px 20px rgb(53, 53, 53);
  height: 50vh;
  width: 50%;
  margin-top: 50px;
  margin-left: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.container div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
textarea{
  border-radius: 10px;
  background-color: white;
}

p{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

